@charset "ISO-8859-1";
html {
	overflow-x: hidden;
}
.cart_table,th,td{
	margin-left:20px;
	border:1px solid black;
}
.cart_table input{
	cursor:pointer;
}
.icon{
	display:none;
	position: absolute;
    right:-4px;
    top: 0px;
    text-align: center;
    border-radius: 7px;
    width: 18px;
    height: 18px;
    background-color: #ff6161;
    border: 1px solid #fff;
    font-weight: 400;
    color: #f0f0f0;
    line-height: 16px;
    font-size: 12px;
    margin-left:974px;
}
.iconPack{
	float:right;
	position:relative;
}
.form {
  position: realtive;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.table_form,.Order_form{
	width: 400px;
    position: absolute;
    z-index: 1;
    background: #FFFFFF;
    padding: 20px;
    text-align: center;
    overflow: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.thankyou_form{
   width: 90%;
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 4320px;
    padding: 20px;
    text-align: center;
}
.order_table{
	margin:0 auto;
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 1px solid transparent;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 50%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.cart,.thankyou,.Orders{
	display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    height: 100vh;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modal,.modal2,.modal3,.modal4,.productShow,.buy_product{
  display: none; 
  position: fixed;
  z-index: 2;
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}
.close {
  postion:absolute;
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  right:15px;
  top:15px;
}

.list{
	list-style-type: none;
	float: right;
}
.prolist{
	display:-webkit-inline-box;
	float:right;
	text-decoration:none;
	list-style-type:none;
	margin-right:20px;
}
a{
	cursor:pointer;
	text-decoration:none;
	margin-right:20px;
}

#imageList{
	display: block;
	list-style-type: none;
}

#imageList li{
	vertical-align: top;
	margin-bottom:15px;
	display: inline-block;
	margin-left:20px;
	width: 200px;
	height: 200px;
	background-color: white;
	position: relative;
	overflow: hidden;
    vertical-align: top;
    border-radius: 6px;
    box-shadow: 0px 0px 40px 2px #0000005a;
    transition: transform 0.3s; 
}
.company{
	font-size:30px;
	color:white;
	font-family:sans-serif;
	float:left;
	margin-top:20px;
	margin-left:20px;
}

.list p{
	display: inline;
	font-size: 20px;
	color: white;
	margin-right: 10px;
	padding: 20px;
	cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.header {
	font-family: sans-serif;;
	background-color: MediumSeaGreen;
	box-shadow: 0 0 18px #6699ff;
	opacity: 0.8;
	padding: 5px;
}


.clearfix::after {
	content: '';
	display: block;
	clear: both;
}

body {
	background-image:
		url("http://onehdwallpaper.com/wp-content/uploads/2015/07/Green-Nature-1080p-Wallpapers.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.bodyElement {
	font-size: 45px;
	color: white;
}
#msg{
	color:#f50404;
}
#alert{
	color:#f50404;
}
#adminAlert{
	color:#f50404;
}
.ImageList{
	display:inline-block;
	list-style-type:none;
}
img{
	cursor: pointer;
	postion: abosoulte;
	top: 50%;
	left: 50%;
}
button {
	cursor:pointer;
	background-color: MediumSeaGreen;
	top: 50%;
	left: 50%;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
	border: 2px solid MediumSeaGreen;
}
.ptags{
	list-style-type:none;
}

footer {
	width: 100%;
	position: relative;
	margin-top:22%;
}
footer a{
	color:white;
	text-decoration:none;
}
.login{
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
#cart,#thankyou,#order{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#cart td, #cart th,#thankyou td, #thankyou th,#order td,#order th {
  border: 1px solid #ddd;
  padding: 8px;
}

#cart tr:nth-child(even){background-color: #f2f2f2;}
#thankyou tr:nth-child(even){background-color: #f2f2f2;}
#order tr:nth-child(even){background-color: #f2f2f2;}

#cart tr:hover {background-color: #ddd;}
#thankyou tr:hover {background-color: #ddd;}
#order tr:hover {background-color: #ddd;}

#cart th ,#thankyou th, #order th{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
.thank_you{
	width:50%;
  padding: 8% 0 0;
  margin: 0 auto;
}
